[Unit]
Description=Run Tunnel Agent every 5 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
AccuracySec=30s
Persistent=true
Unit=tunnel-agent.service

[Install]
WantedBy=timers.target
